.column {
	border-width: 1px;
	border-style: solid;
	border-color: rgba(0, 120, 33, 0.1018);
	border-radius: 4px;
	box-shadow: 1px 2px 4px #a0a0a0;
	background-color: white;
}

body {
	background-color: rgba(34, 36, 38, 0.15);
	
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	font-weight: lighter;
	letter-spacing: 0.7px;
}

.container {
	max-width: 1300px;
	
	display: flex;
	
	margin: auto;
	margin-top: 5%;
}

.right {
    width: 300px;

	margin: 20px;
	margin-left: 3%;
}

.left  {
	width: 780px;
	
	margin: 20px;
	margin-left: 4%;
	
	float: left;
}

.input{
	padding: 10px;
	
	border: none;
	
	position: relative;
	top: 0.253px;
}

#addingline {
	margin: 15px;
	padding: 0px;
	
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0,0,0, 0.16);
	border-radius: 6px;
	
	display: flex;
}

.inputline {
	width: 80%;
}

.inputbutton {	
	background-color: rgb(66, 134, 244);/* rgba(0,0,0,.6); /*rgba(0,0,0,0.05);*/
	
	color: white;
	
	width: 20%;
	
	box-shadow: 2px 3px #77abff inset; 
	
	font-weight: bold;
}

.goods {
	border-style: solid;
	border-width: 1px;
	border-top-color : rgba(0,0,0, 0.16);
	border-right: none;
	border-left: none;
	border-bottom: none;
	
	margin: 0 px;
	padding: 16px;
}

.types {
	margin: 0 px;
	padding: 15px;
	
	font-size: 18px;
	font-weight: bold;
	
	border-style: solid;
	border-width: 1px;
	border-top: none;
	border-right: none;
	border-left: none;
	border-bottom-color: rgba(0,0,0, 0.16);
}

.product-item {
	display: inline-block;
	
	font-size: 10px;
	font-weight: bold;
	color:  rgba(0,0,0,0.6);
	
	background-color: rgba(0,0,0,0.1);
	
	padding: 7px;
	
	border-style: solid;
	border-width: 1px;
	border-color: rgba(0,0,0,0);
	border-radius: 4px;
}

.product-amount-left {
	background-color: #d3651d;
	
	color: white;
	font-weight: normal;
	
	border-style: solid;
	border-width: 1px;
	border-color: #d3651d;
	border-radius: 30px;
	
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
}

.bottons {
	
}
